.option{
	background-color: #e4e4e4;
	padding: 20px;
	color: gray;
	cursor: pointer;
	font-family: 'KoHo', sans-serif;
}
.option:hover{
	border-style: solid;
	border-color: #e4e4e4;
	color: black;
}
.lrow{
	border-left-style: solid;
	border-right-style: solid;
	border-left-color: black;
	border-right-color: black;
}
.dropbtn{
	background-color: #908d8d;
	color: black;
	padding: 5px;
	font-size: 16px;
	border-style: dotted;
}
