.index-title{
	margin-top: 20%;
	font-family: 'seobli-thin';
}
.lang-container{
	margin-top: 20px;
	margin-bottom: 10%;
}
.sm-btn-fmt{
	padding: 15px;
	border: 1px solid;
	cursor: pointer;
}
.sm-btn-fmt:hover{
	color: #fff;
	background-color: #000;
	transition: 0.5s;
}
.sub{
	padding-top: 20%;
	color: #fff;
	font-family: 'seobli-thin';
}
.opt-menu{
	opacity: 0;
	display: none;
	font-family: 'seobli-thin';
}
.br{
	border-right: solid 1px #fff;
}
.ns{
	display: none;
}
.clickable1{
	cursor: pointer;
	color: #423e3e;
	transition: 0.5s;
}
.clickable1:hover{
	padding-top: 20px;
	color: #fff;
	transition: 0.5s;
}
.space{
	padding-top: 30%;
}
.ns-msg{
	font-family: seobli-tw;
	background-color: #000;
	padding: 20px;
	border: solid 5px #00ff00;
	color: #00ff00;
}
.glow{
	color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
    transition: 0.5s;
}
